<% content_for :page_title, @review.title %>

<section class="section">
    <div class="container">
        <div class="content">
            <%= @review.content %>
        </div>
    </div>
</section>